<table id="query-table">
    {{#each memberParams}}
        <tr class="form-group">
            <td>{{this.key}}:</td>
            <td><input class="form-control" type="text" name="{{this.key}}" value="{{this.val}}"></td>
        </tr>
    {{/each}}
</table>
<button type="submit" class="btn btn-primary">{{#if isBeingUpdated}}Update{{else}}Add{{/if}}</button>