<!DOCTYPE html>
<html>
    <head>
        <title>MDY PTA Dues {{#if subtitle}}| {{subtitle}}{{/if}}</title>
        <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="css/public.css">
    </head>
    <body>
        {{{body}}}
    </body>
</html>