<div class="container-fluid">
  <h5>Dear Parents,<br><br>
    Every school year, the Magen David Yeshivah PTA works diligently to better our children's learning experience. PTA
    Dues and the money we fundraise throughout the year go directly to the students. These funds support initiatives
    such as introducing new technology in the classrooms and restocking classroom libraries to enhance our students'
    curriculum. <br><br>Please continue your support by promptly completing this form and sending in $20. We appreciate
    your
    generosity and dedication to our children's education.</h5>
</div>

<form action="/orders/new/" id="duesForm" method="POST" class="container-fluid">
  <div class="row">
    <div class="col-md" style="padding-top: 9px;">
      <div class="form-group">
        <label for="parents"><small>*</small>Parents' Names:</label>
        <input type="text" class="form-control" id="parents" name="Name" placeholder="Name & Name Last Name">
      </div>
      <div class="form-group">
        <label for="address"><small>*</small>Address:</label>
        <input type="text" class="form-control" id="address" name="Address" placeholder="Full Address">
      </div>
      <div class="form-group">
        <label for="phone"><small>*</small>Phone:</label>
        <input type="tel" class="form-control" id="phone" name="Phone" placeholder="(917) 123-4567">
      </div>
    </div>
    <div class="col-md">
      <div class="form-group">
        <strong>List all children attending MDY and their grade</strong>
      </div>
      {{#each children}}
      <div class="input-group form-group">
        <div class="input-group-prepend">
          <span class="input-group-text">Name &amp; Grade:</span>
        </div>
        <input type="text" class="form-control" name="child{{this}}Name"
          style="width: calc(calc(calc(100% - 137px) / 10) * 7);">
        <select name="child{{this}}Grade" class="form-control" style="width: calc(calc(calc(100% - 137px) / 10) * 3);">
          <option value="PPG">PPG</option>
          <option value="Playgroup">Playgroup</option>
          <option value="Lower Nursary">Lower Nursary</option>
          <option value="Pre K">Pre K</option>
          <option value="Kindergarten">Kindergarten</option>
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
          <option value="6">6</option>
          <option value="7">7</option>
          <option value="8">8</option>
        </select>
      </div>
      {{/each}}
    </div>
  </div>

  <div class="form-group" style="text-align: center; margin-top: 15px;">
    <button type="button" id="continueBtn" class="btn btn-primary">Continue</button>
  </div>

  <input type="hidden" id="paymentAmount" name="Amount" value="2000">
  <input type="hidden" id="emailAddress" name="Email">
</form>

<script>
  var StripeHandler = StripeCheckout.configure({
    key: 'pk_live_MFjSNMDErxMwrRLWAteHnZTs',
    image: '/images/favicon.ico',
    locale: 'auto',
    token: function (tkn) {
      let amnt = $('#paymentAmount').val();
      $.ajax({
        url: `/charge/`,
        method: 'POST',
        data: { token: tkn.id, amount: amnt, email: tkn.email },
        statusCode: {
          200: function () {
            $('#emailAddress').val(tkn.email);
            $('#duesForm').submit();
          },
          500: function () {
            alert('Something went wrong.');
          }
        }
      });
    }
  });
  window.addEventListener('popstate', function () {
    StripeHandler.close();
  });
</script>
<script>
  $('#continueBtn').on('click', function () {
    if (validate()) {
      StripeHandler.open({
        name: 'PTA Dues',
        description: '',
        amount: 2000
      });
    }
  });
  function validate() {
    for (let param of ['parents', 'address', 'phone']) {
      if ($(`#${param}`).val() == '') {
        $(`#${param}`).css('border-color', 'red');
        return false;
      }
    }
    return true;
  }
</script>