{{#if errorMessage}}<div class="alert alert-danger" role="alert">{{errorMessage}}</div>{{/if}}
{{#if successMessage}}<div class="alert alert-success" role="alert">{{successMessage}}</div>{{/if}}
<div class="container">
    {{#if isBeingUpdated}}
        <form action="/faculty/{{memberId}}/update" method="POST">
    {{else}}
        <form action="/faculty/create" method="POST">
            <label>Type: <select id="teacherType" name="Type">
                <option value="Miscelaneous">Miscelaneous</option>
                <option value="PreK">Nursary School</option>
                <option value="Elementary">Elementary School</option>
                <option value="Middle">Middle School</option>
                <option value="Assistants">Assistant</option>
            </select></label>
    {{/if}}
        {{> facultyMemberForm}}
        </form>
</div>

<script src="/js/editTeachers.js"></script>
