<div class="center">
    <div class="top">
        <button class="circle">Add</button>
        <button class="circle">Remove</button>
        <button class="circle">Edit</button>
    </div>
    <div class="bottom">
        <label>Type: <select id="teacherType">
            <option value="misc">Miscelaneous</option>
            <option value="preK">Nursary School</option>
            <option value="elementary">Elementary School</option>
            <option value="middle">Middle School</option>
            <option value="assistant">Assistant</option>
        </select></label>

        <form class="form" action="/faculty/create">
            <h3 id="form-title">Add Miscelaneous Member</h3>
            <table id="query-table">
                
            </table>
            <input type="hidden" name="Type" id="type-input" value="Miscelaneous">
            <div class="buttonContainer">
                <button type="submit">Add</button>
            </div>
        </form>
        
    </div>
</div>
<div class="right"></div>

<script src="../js/editTeachers.js"></script>

