<div class="jumbotron">
  <h1 class="display-4">Thank you{{#if Name}}, {{Name}}{{/if}}!</h1>
  <p class="lead">We appreciate your generosity and dedication to our children's education.</p>
  <hr class="my-4">
  <p>We've sent a confirmation email to your {{Email}} address.</p>
  <a class="btn btn-primary btn-lg" href="/" role="button">Done</a>
</div>