.input-group {
    float: left !important;
    max-width: 300px;
    margin-bottom: 0px;
    padding: 0px;
    margin-left: 5px;
}
.list-group-item {
    padding: 0px;
    background-color: rgba(0,0,0,0);
    border: none;
}
.list-group-item button {
    margin-left: 5px;
}