body {
    margin: 0;
    margin-bottom: 100px;
    background-color: #AFDEFB !important;
}
header {
    padding-top: 10px;
    background-color: #002261;
    margin-bottom: -16px;
}
.logo {
    margin-top: -10px;
    height: 40px;
    margin-right: -13px;
    width: auto;
}
.nav-link {
    color: white;
    padding: 5px 10px;
    margin-bottom: 8px;
}
.nav-link.active, .nav-link.active:hover {
    color: #01389D !important;
}
.nav-link:hover {
    color: lightgray !important;
}
.jumbotron {
    margin-top: 20px;
}
.btn-primary {
    background-color: #01389D !important;
    border-color: #01389D !important;
}
.container-fluid {
    margin-top: 30px;
}
.nav-pills > li > a.active {
    background-color: #AFDEFB !important;
    color: #01389D;
}