.addFacultyContainer {
    display: none;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,0.7);
    top: 0px;
    left: 0px;
    position: absolute;
    overflow: hidden;
    text-align: center;
}
.addition {
    background: white;
    padding: 40px;
    width: 500px;
    margin-top: 20vh;
    margin-left: calc(50vw - 250px);
    text-align: center;
    border-radius: 20px;
}
.exButton {
    width: 50px;
    height: 50px;
    border-radius: 25px;
    left: 100%;
    margin-left: -25px;
    margin-top: -70px;
    z-index: 100;
}