.drag-handle {
    cursor: move;
    cursor: -webkit-grabbing;
    margin-right: 10px;
    font-size: 1.5em;
}
.sortable-ghost {
    opacity: .6;
}
li .btn {
    float: right;
}
.sortable {
    background-color: rgba(0,0,0,0.02);
}
li {
    background-color: rgba(0,0,0,0.02) !important;
}
.list-container {
    background-color: white;
    padding: 15px;
    margin: 5px;
    border-radius: 10px;
    min-width: 500px;
    float: left;
}
.exButton, .editButton {
    margin-left: 13px;
}