<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
</head>

<body
    style="box-sizing: border-box;margin: 0;font-family: -apple-system,BlinkMacSystemFont,&quot;Segoe UI&quot;,Roboto,&quot;Helvetica Neue&quot;,Arial,&quot;Noto Sans&quot;,sans-serif,&quot;Apple Color Emoji&quot;,&quot;Segoe UI Emoji&quot;,&quot;Segoe UI Symbol&quot;,&quot;Noto Color Emoji&quot;;font-size: 1rem;font-weight: 400;line-height: 1.5;color: #212529;text-align: left;background-color: #AFDEFB;width: 100vw;min-width: 992px!important;">
    <header style="box-sizing: border-box;display: block;background: white;">
        <img src="https://mdy-pta-dues.herokuapp.com/images/ColoredLogo.jpg" alt=""
            style="box-sizing: border-box;vertical-align: middle;border-style: none;page-break-inside: avoid;height: 64px;display: block;margin: 0 auto;">
    </header>
    <main class="container-fluid"
        style="box-sizing: border-box;display: block;width: 100%;padding-right: 15px;padding-left: 15px;margin-right: auto;margin-left: auto;">
        <div class="card mt-3"
            style="box-sizing: border-box;position: relative;display: flex;-ms-flex-direction: column;flex-direction: column;min-width: 0;word-wrap: break-word;background-color: #fff;background-clip: border-box;border: 1px solid rgba(0,0,0,.125);border-radius: .25rem;margin-top: 1rem!important;">
            <div class="card-header"
                style="box-sizing: border-box;padding: .75rem 1.25rem;margin-bottom: 0;background-color: rgba(0,0,0,.03);border-bottom: 1px solid rgba(0,0,0,.125);border-radius: calc(.25rem - 1px) calc(.25rem - 1px) 0 0;">
                <h3 class="card-title"
                    style="box-sizing: border-box;margin-top: 0;margin-bottom: .75rem;font-weight: 500;line-height: 1.2;font-size: 1.75rem;orphans: 3;widows: 3;page-break-after: avoid;">
                    Thank you!</h3>
            </div>
            <div class="card-body" style="box-sizing: border-box;-ms-flex: 1 1 auto;flex: 1 1 auto;padding: 1.25rem;">
                <h5
                    style="box-sizing: border-box;margin-top: 0;margin-bottom: .5rem;font-weight: 500;line-height: 1.2;font-size: 1.25rem;">
                    We've recieved your Purim presents</h5>
                <table cellpadding="8" style="box-sizing: border-box;border-collapse: collapse;">
                    <tr style="box-sizing: border-box;page-break-inside: avoid;">
                        <th style="box-sizing: border-box;text-align: inherit;">For</th>
                        <th style="box-sizing: border-box;text-align: inherit;">From</th>
                    </tr>
                    <tr style="box-sizing: border-box;page-break-inside: avoid;">
                        <td style="box-sizing: border-box;">Mrs. Blumenfeld</td>
                        <td style="box-sizing: border-box;">Ikey</td>
                    </tr>
                    <tr style="box-sizing: border-box;page-break-inside: avoid;">
                        <td style="box-sizing: border-box;">Mrs. Blumenfeld</td>
                        <td style="box-sizing: border-box;">Ikey</td>
                    </tr>
                    <tr style="box-sizing: border-box;page-break-inside: avoid;">
                        <td style="box-sizing: border-box;">Mrs. Blumenfeld</td>
                        <td style="box-sizing: border-box;">Ikey</td>
                    </tr>
                </table>
            </div>
            <div class="card-footer text-right"
                style="box-sizing: border-box;padding: .75rem 1.25rem;background-color: rgba(0,0,0,.03);border-top: 1px solid rgba(0,0,0,.125);border-radius: 0 0 calc(.25rem - 1px) calc(.25rem - 1px);text-align: right!important;">
                <p style="box-sizing: border-box;margin-top: 0;margin-bottom: 1rem;orphans: 3;widows: 3;">Order# PTA0057
                </p>
                <p style="box-sizing: border-box;margin-top: 0;margin-bottom: 1rem;orphans: 3;widows: 3;">Total: $24.00
                </p>
            </div>
        </div>
    </main>
</body>

</html>