<!DOCTYPE html>
<html lang="en"
    style="box-sizing: border-box;font-family: sans-serif;line-height: 1.15;-webkit-text-size-adjust: 100%;-webkit-tap-highlight-color: transparent;">

<head style="box-sizing: border-box;">
    <meta charset="UTF-8" style="box-sizing: border-box;">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" style="box-sizing: border-box;">
    <meta http-equiv="X-UA-Compatible" content="ie=edge" style="box-sizing: border-box;">
</head>

<body style="background: #AFDEFB; margin: 0px; width: 100vw; min-height: 100vh;">
    <header style="background: white;">
        <img src="https://mdy-pta-dues.herokuapp.com/images/ColoredLogo.jpg"
            style="height: 128px; width: auto; display: block; margin: 0 auto;">
    </header>
    <main style="padding: 16px;">
        <div style="display: flex; justify-content: space-between; border-bottom: solid 1px black;">
            <div>
                <h2>Thank you!</h2>
                <p>We've recieved your purim gifts.</p>
            </div>
            <div style="padding: 8px 5px 0px 0px">
                <p>Order #{{orderId}}</p>
                <p>Total: {{total}}</p>
            </div>
        </div>

        <table cellpadding="8px" style="background: rgba(0,0,0,0.1); padding: 8px; margin: 16px auto;">
            <tr>
                <th>To</th>
                <th>From</th>
            </tr>
            {{#each teachers}}
            <tr>
                <td>{{this.teacher}}</td>
                <td>{{this.gifter}}</td>
            </tr>
            {{/each}}
        </table>
    </main>
</body>

</html>